{{tracks-component match=match}}
{{board-component board=board}}

{{#if isPlayer}}
  {{player-dock-component player=currentPlayer}}
  {{#dock-component}}
    <div class="winterfell neutral-force-token">
      winterfell
    </div>
  {{/dock-component}}
{{else}}
  {{join-match-component match=match}}
{{/if}}
