{{#if isExpanded}}
  <aside class="player-dock">
    <section id="player-main-info">
      <h1>House of {{player.house}}</h1>
      <p>Total player units: {{player.units.length}}</p>
    </section>

    <section id="player-units">
      <h2>Avaiable Units: {{player.availableUnits.length}}</h2>
      {{#each player.availableUnits as |unit|}}
        {{unit-component unit=unit}}
      {{/each}}
    </section>

    <section id="player-order-tokens">
      <h2>Avaiable Order Tokens: {{player.availableOrderTokens.length}}</h2>
      {{#each player.availableOrderTokens as |orderToken|}}
        {{order-token-component orderToken=orderToken}}
      {{/each}}
    </section>

    {{yield}}
    <button {{action 'contract'}} class="toggle-trigger on-right">&#10094;</button>
  </aside>
{{else}}
  <button {{action 'expand'}} class="toggle-trigger on-left">&#10095;</button>
{{/if}}
